<div class="post-container" ng-show="topic">
	<div class="topic" ng-model="topic">
		<h2>{{topic.title}}</h2>
		<p>{{topic.text}}</p>
		<h5>By: {{topic.author}} [{{topic.date}}]</h5>
	</div>
	<br>
	<div ng-show="posts" class="posts" ng-repeat="post in posts">
		<p>{{post.text}}<p>
		<h5>By: {{post.auther}} [{{post.date}}]</h5>
	</div>
	<form name="postForm" novalidate>
		<textarea id="topic-text-area" ng-model="post.comment" name="post-text" placeholder="Comment here..." required></textarea>
		<span ng-show="post.comment.$dirty && postForm.post-text.$error.required">You can't send a empty comment</span>
		<br>
		<button ng-click="postForm.$valid && comment()">Comment</button>
    	<span ng-show="submitted && postForm.$dirty && postForm.$invalid">Please edit the wrongs</span>
	</form>
</div>