<div id="container">
  <h1>Lägg till produkt</h1>

  <form name="productForm" novalidate> 
    <label for="artnr">Artikelnummer</label> 
    <input type="text" name="artnr" ng-model="product.artnr" required>
     <span ng-show="productForm.artnr.$dirty && productForm.artnr.$invalid">Ange artikelnummer</span>
    <br>

    <label for="name">Produktnamn</label> 
    <input type="text" name="name" ng-model="product.name" required>
     <span ng-show="productForm.name.$dirty && productForm.name.$invalid">Ange namn på produkten</span>
    <br>

    <label for="brand">Varumärke</label> 
    <input type="text" name="brand" ng-model="product.brand" required>
     <span ng-show="productForm.brand.$dirty && productForm.brand.$invalid">Ange varumärke</span>
    <br>
    <label for="descri">Beskrivning</label>
    <textarea name="descri" ng-model="product.descri">
      
    </textarea>
    <br>

    <label for="price">Pris</label> 
    <input type="number" name="price" ng-model="product.price" required>
     <span ng-show="productForm.price.$dirty && productForm.price.$invalid">Ange produktens pris</span>
    <br>

    <button ng-click="setSubmitted() && productForm.$valid && addProduct()">Spara produkten</button>
    <span ng-show="submitted && productForm.$invalid">Rätta till felen i formuläret för att kunna spara produkten</span>
    <span ng-show="savesuccess">Produkten sparad</span> 
    <span ng-show="saveerror">Produkten sparades inte</span> 

  </form>

</div>








