<!-- Login form -->
<div class="login">
	<h1>Login</h1>
	<form name="loginForm" novalidate>
		<label for>Username</label>
		<input type="text" name="username" placeholder="UserName" ng-model="loginInput.username" requried>
		<span ng-show="loginForm.username.$dirty && regForm.username.$error.required">You need to fill in a username</span>
		<br>

		<label for>Password</label>
		<input type="password" name="password" placeholder="Password" ng-model="loginInput.password" requried>
		<span ng-show="loginForm.password.$dirty && regForm.password.$error.required">You need to fill in a password</span>
		<br>

		<button ng-click="loginForm.$valid && login()">Register</button>
    	<span ng-show="submitted && loginForm.$dirty && loginForm.$invalid">Please edit the wrongs</span>
	</form>
</div>


<!--regForm Form-->
<div class="register">
	<h1>Register</h1>
	<form name="regForm" novalidate>
		<label for>Username</label>
		<input type="text" name="username" placeholder="UserName" ng-model="user.username" requried>
		<span ng-show="regForm.username.$dirty && regForm.username.$error.required">You need to fill in a username</span>
		<br>

		<label for>Email</label>
		<input type="text" name="email" placeholder="email" ng-model="user.email" required>
		<span ng-show="regForm.email.$dirty && regForm.email.$error.required">You need to fill in a email</span>
		<br

		<label for>Password</label>
		<input type="password" name="password" placeholder="Password" ng-model="user.password" requried>
		<span ng-show="regForm.password.$dirty && regForm.password.$error.required">You need to fill in a password</span>
		<br>
		<button ng-click="regForm.$valid && register()">Register</button>
    	<span ng-show="submitted && regForm.$dirty && regForm.$invalid">Please edit the wrongs</span>
	</form>
</div>