<!-- Login form -->
<div class="login">
	<h1>Login</h1>
	<form name="login" novalidate>
		<label for>Username</label>
		<input type="text" name="username" placeholder="UserName" requried>
		<span ng-show="regForm.username.$dirty && regForm.username.$error.required">Obligatoriskt: Ange ditt användarnamn</span> <br>

		<label for>Password</label>
		<input type="password" name="password" placeholder="Password" requried><br>

		<button>Login</button> 	
	</form>
</div>


<!--regForm Form-->
<div class="register">
	<h1>Register</h1>
	<form name="regForm" novalidate>
		<label for>Username</label>
		<input type="text" name="username" placeholder="UserName" ng-model="user.username" requried>
		<span ng-show="regForm.username.$dirty && regForm.username.$error.required">You need to fill in a username</span>
		<br>

		<label for>Email</label>
		<input type="text" name="email" placeholder="email" ng-model="user.email" required>
		<span ng-show="regForm.email.$dirty && regForm.email.$error.required">You need to fill in a email</span>
		<br

		<label for>Password</label>
		<input type="password" name="password" placeholder="Password" ng-model="user.password" requried>
		<span ng-show="regForm.password.$dirty && regForm.password.$error.required">You need to fill in a password</span>
		<br>
		<button ng-click="regForm.$valid && register()">Register</button>
    	<span ng-show="submitted && regForm.$dirty && regForm.$invalid">Please edit the wrongs</span>
    	<span ng-show="saveerror">There has been an error with your registration</span> 
	</form>
</div>