<div id="container">
  <h1>Registrera dig</h1>
  <form name="regForm" novalidate> 

    <label for="username">Användarnamn</label> 
    <input type="text" name="username" ng-model="user.username" required>
    <span ng-show="regForm.username.$dirty && regForm.username.$error.required">Obligatoriskt: Ange ditt användarnamn</span>
    <br>

    <label for="email">E-post</label> 
    <input type="email" name="email" ng-model="user.email" required>
    <span ng-show="regForm.email.$dirty && regForm.email.$error.required">Obligatoriskt: Ange din e-postadress</span>
    <span ng-show="regForm.email.$dirty && !regForm.email.$error.required && regForm.email.$error.email">Ogiltig epostadress.</span>
    <br>

    <label for="password">Lösenord</label> 
    <input type="text" name="password" ng-model="user.password" required ng-minlength="5" ng-maxlength="15">
    <span ng-show="regForm.password.$dirty && regForm.password.$invalid">Lösenordet måste vara 5-15 tecken långt</span>
    <br>

    <label for="firstname">Förnamn</label> 
    <input type="text" name="firstname" ng-model="user.firstname" required>
     <span ng-show="regForm.firstname.$dirty && regForm.firstname.$error.required">Obligatoriskt: Ange ditt förnamn</span>
    <br>

    <label for="lastname">Efternamn</label> 
    <input type="text" name="lastname" ng-model="user.lastname" required>
     <span ng-show="regForm.lastname.$dirty && regForm.lastname.$error.required">Obligatoriskt: Ange ditt efternamn</span>
    <br>

    <button ng-click="setSubmitted() && regForm.$valid && register()">Registrera dig</button>
    <span ng-show="submitted && regForm.$dirty && regForm.$invalid">Åtgärna felen i formuläret innan du skickar registreringen</span>
    <span ng-show="saveerror">Registreringen gick inte igenom.</span> 

  </form>

</div>








