<IfModule mod_rewrite.c>
RewriteEngine on
Options +FollowSymlinks
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [NC]
</IfModule>


# Adding Redirect so server can't be access from the browser
# RedirectMatch 403 ^.*/controllers/.*$
# RedirectMatch 403 ^.*/models/.*$
# RedirectMatch 403 ^.*/core/auth/.*$
# RedirectMatch 403 ^.*/core/base/.*$
# RedirectMatch 403 ^.*/core/database/.*$
# RedirectMatch 403 ^.*/core/http/.*$
# RedirectMatch 403 ^.*/core/sessions/.*$
# RedirectMatch 403 ^.*/core/SQL/.*$
# RedirectMatch 403 ^.*/core/view.*$
# RedirectMatch 403 ^.*/core/app\.php$